**/*.backup
**/*.tfstate
**/*.tfvars
**/.terraform
**/config/*
**/environments/*
*.pyc
*.retry
*.swp
.DS_Store
.idea/
.idea/*
tls-certs/*
!aws/tls-certs/terraform.tfstate
!aws/tls-certs/terraform.tfstate.backup
!aws/tls-certs/terraform.tfvars
.venv
