#cloud-config

coreos:
  etcd2:
    # generate a new token for each unique cluster from https://discovery.etcd.io/new?size=3
    # specify the initial size of your cluster with ?size=X
    #discovery: https://discovery.etcd.io/<token>
    # multi-region and multi-cloud deployments need to use $public_ipv4
    advertise-client-urls: http://$private_ipv4:2379,http://$private_ipv4:4001
    initial-advertise-peer-urls: http://$private_ipv4:2380
    # listen on both the official ports and the legacy ports
    # legacy ports can be omitted if your application doesn't depend on them
    listen-client-urls: http://0.0.0.0:2379,http://0.0.0.0:4001
    listen-peer-urls: http://$private_ipv4:2380,http://$private_ipv4:7001
  units:
    - name: etcd2.service
      command: start
    - name: fleet.service
      command: start

users:
  - name: omsharma
    groups:
      - sudo
      - docker
    ssh-authorized-keys:
      - ssh-rsa AAAAB3NzaC1yc2EAAAADAQABAAABAQC7u+dU4GpcG73nZD4BJGuq8s9roUGSrSKE8dJ/b224t8sUFtr+G8Aa6i90p+qwAnoH/x9ZtUW2CV/qjHGVT1FprHvFHIjPJ7lvFiGm9TQIFQYz2ps7nUDHybWDXCxN2quF2VLRyvSuhEwXLyqL+OdpYl+7VmchfL9jgumkcPRjh2q+7h3l3Bio0tvy6m40QKjbqRXG0bdOAaQMApkWLm5J438WxMum1sfVgcpDBopeK2WYF5eFmnLefzynlpxrRagRSuTqCJ+uPpQJSPhBYjyXu4UtkUr9xCJJx+jSrvgkeyXA4ZVZDaW5FVnr6CdlDJwCx6Y3gB2CIGqA+B/HIsmR OmSharma
  - name: philandstuff
    groups:
      - sudo
      - docker
    ssh-authorized-keys:
      - ssh-rsa AAAAB3NzaC1yc2EAAAADAQABAAABAQDpD0Wc0pfD5NrV0D7alwOZDIqC9id+RroF2BQ59wLqxvF4wvlgtab0VHiIylSeN4K2bK5ikugy6/rwhWWdoQ3raMXIgOWP6ukSh/OLUioxCeop04IlF4JgUo3uNoInkUegnLw42sg/cKX+pbv/1Rc4GEO6J0Wy6YylyeieAWiy2rwgO/nr/49Tyiw1C66embmglhv7OaZEthpKyM3u6rlJeeU0H2K/bsc9yU/Utpek0hx/nih8qlVEPG7/3welWUNb/LwFC4EpJKiU72mRcjWGh9l5MjCJ2SR/wimY1AHQ4YES3VeAQvcaTKMCnaBET/RhnashxMr0f3V7IDkg56tZ cardno:000603815000
