{% for db in databases %}
{{db}}.source.postgres.db.connectionString=jdbc:postgresql://{{src_host}}:5432/{{db}}?user={{db}}_indexer&password={{ password[db] }}
{{db}}.destination.postgres.db.connectionString=jdbc:postgresql://{{dst_host}}:5432/{{db}}?user={{db}}_indexer&password={{ password[db] }}
{% endfor %}
