{% for reg in item.value -%}
  {%- set rds_instance_name = vpc + "-openregister-db" -%}
  {%- set password_store_key = vpc + "/rds/openregister/" + reg -%}
  {%- set db_name = reg -%}
  {%- set db_user = reg + "_openregister" -%}
  {%- set db_password = lookup("pass", "{{ vpc }}/rds/openregister/" + reg).decode('utf-8') -%}

  {%- set db_host = groups[rds_instance_name][0] -%}
  {%- set register_name = reg -%}
  {%- set app_user = "openregister" -%}
  {%- set app_password = lookup("pass", "{{ vpc }}/app/mint/" + reg).decode('utf-8') -%}
  {%- set settings = register_settings[reg] | default({}) -%}
  {%- set field_register_url = "http://field." + register_domain + "/records.yaml?page-size=1000"  -%}
  {%- set register_register_url = "http://register." + register_domain + "/records.yaml?page-size=1000"  -%}
  {%- set s3_field_yaml = "s3://openregister." + vpc + ".config/fields.yaml"  -%}
  {%- set s3_register_yaml = "s3://openregister." + vpc + ".config/registers.yaml"  -%}


{%- if loop.first -%}
database:
  driverClass: org.postgresql.Driver
  url: jdbc:postgresql://{{ db_host }}:{{ db_port | default(5432) }}/{{ db_name }}
  user: {{ db_user }}
  password: {{ db_password }}

  #db connection properties
  initialSize: {{ db_initial_size | default(1) }}
  minSize: {{ db_min_size | default(1) }}
  maxSize: {{ db_max_size | default(4) }}

  properties:
    charSet: UTF-8

trackingId: {{ tracking_id }}
register: {{ register_name }}
{% if settings.custodian_name is defined %}custodianName: {{ settings.custodian_name }}{% endif %}

enableDownloadResource: {{ settings.enable_download_resource | default(true) }}
enableRegisterDataDelete: {{ settings.enable_register_data_delete | default(enable_register_data_delete) | default(false) }}

fieldsYamlLocation: {{ settings.fields_yaml_location | default( s3_field_yaml ) }}

registersYamlLocation: {{ settings.registers_yaml_location | default( s3_register_yaml ) }}

{% if settings.history_page_url is defined %}historyPageUrl: {{ settings.history_page_url }}{% endif %}

{% if settings.similar_registers is defined %}similarRegisters:
  {% for register in settings.similar_registers -%}
    - {{ register }}
  {% endfor %}
{% endif %}

registerDomain: {{ register_domain }}
externalConfigDirectory: /srv/openregister-java
downloadConfigs: true

server:
  registerDefaultExceptionMappers: false

credentials:
  user: {{ app_user }}
  password: {{ app_password }}

{% if loop.length > 1 %}
registers:
{% endif %}
{% else %}
  {{ reg }}:
    database:
      driverClass: org.postgresql.Driver
      url: jdbc:postgresql://{{ db_host }}:{{ db_port | default(5432) }}/{{ db_name }}
      user: {{ db_user }}
      password: {{ db_password }}

      #db connection properties
      initialSize: {{ db_initial_size | default(1) }}
      minSize: {{ db_min_size | default(1) }}
      maxSize: {{ db_max_size | default(4) }}

      properties:
        charSet: UTF-8

    trackingId: {{ tracking_id }}
    {% if settings.custodian_name is defined %}custodianName: {{ settings.custodian_name }}{% endif %}

    enableDownloadResource: {{ settings.enable_download_resource | default(true) }}
    enableRegisterDataDelete: {{ settings.enable_register_data_delete | default(enable_register_data_delete) | default(false) }}
    {% if settings.history_page_url is defined %}historyPageUrl: {{ settings.history_page_url }}{% endif %}

    {% if settings.similar_registers is defined %}similarRegisters:
      {% for register in settings.similar_registers -%}
        - {{ register }}
      {% endfor %}
    {% endif %}

    credentials:
      user: {{ app_user }}
      password: {{ app_password }}

{% endif %}
{% endfor %}
