database:
  driverClass: org.postgresql.Driver
  url: jdbc:postgresql://{{ db_host }}:{{ db_port | default(5432) }}/{{ db_name }}
  user: {{ db_user }}
  password: {{ db_password }}

  #db connection properties
  initialSize: {{ db_initial_size | default(1) }}
  minSize: {{ db_min_size | default(1) }}
  maxSize: {{ db_max_size | default(4) }}

  properties:
    charSet: UTF-8

server:
  registerDefaultExceptionMappers: false

registerDomain: {{ register_domain }}

trackingId: {{ tracking_id }}

register: {{ register_name }}

enableDownloadResource: {{ settings.enable_download_resource | default(true) }}

enableRegisterDataDelete: {{ settings.enable_register_data_delete | default(enable_register_data_delete) | default(false) }}

credentials:
  user: {{ app_user }}
  password: {{ app_password }}

{% if settings.history_page_url is defined %}historyPageUrl: {{ settings.history_page_url }}{% endif %}

externalConfigDirectory: /srv/openregister-java

downloadConfigs: true
